<div
  class="w-100 px-5 py-2 mb-5 d-flex align-items-center justify-content-md-between flex-md-row flex-column"
  style="box-shadow: rgba(100, 100, 111, 0.05) 0px 7px 20px 0px"
>
  <img
    class="img-fluid mb-sm-3"
    src="./assets/marvel-banner-transparent.png"
    alt=""
    style="max-width: 240px"
  />
  <div class="d-flex">
    <div *ngIf="(getUserName | async)?.getUserName.user">
      <atom-header
        headerText="{{ (getUserName | async)?.getUserName.user.name }}"
        fontWeight="500"
      ></atom-header>
    </div>
    <strong class="mx-3">|</strong>
    <button class="text-secondary border-0 btn p-0" (click)="logout()">
      Log out
    </button>
  </div>
</div>
