<main-layout>
  <div class="container-fluid">
    <div class="row h-100">
      <div class="col-12 col-md-3">
        <customer-list></customer-list>
      </div>
      <div class="col-12 col-md-6">
        <admin-product-list></admin-product-list>
      </div>
      <div class="col-12 col-md-3">
        <div class="row">
          <customer-info></customer-info>
        </div>
        <div class="row">
          <product-summary-list></product-summary-list>
        </div>
      </div>
    </div></div
></main-layout>
