<div class="customer-info py-3 px-3 mt-md-0 my-sm-3 mb-4">
  <atom-header
    headerText="Customer Info"
    fontSize="20px"
    fontWeight="500"
  ></atom-header>
  <hr class="mb-3" />
  <ul *ngIf="(selectCustomerStateModel | async)?.selectCustomer.customer">
    <li>
      <strong>ID :&nbsp;</strong
      >{{ (selectCustomerStateModel | async)?.selectCustomer.customer.id }}
    </li>
    <li>
      <strong>Name :&nbsp;</strong
      >{{ (selectCustomerStateModel | async)?.selectCustomer.customer.name }}
    </li>
    <li>
      <strong>Username :&nbsp;</strong
      >{{
        (selectCustomerStateModel | async)?.selectCustomer.customer.userName
      }}
    </li>
    <li>
      <strong>Email :&nbsp;</strong
      >{{ (selectCustomerStateModel | async)?.selectCustomer.customer.email }}
    </li>
  </ul>
</div>
