<div *ngFor="let product of productDetailList">
  <atom-product-detail-card
    phoneImage="{{ product.phoneImage }}"
    phoneBrand="{{ product.phoneBrand }}"
    phoneModel="{{ product.phoneModel }}"
    cameraResolution="{{ product.cameraResolution }}"
    screenSize="{{ product.screenSize }}"
    warrantlyType="{{ product.warrantlyType }}"
    color="{{ product.color }}"
    internalMemory="{{ product.internalMemory }}"
    ramMemory="{{ product.ramMemory }}"
  ></atom-product-detail-card>
</div>
