<atom-input
  placeHolder="Search Input"
  inputType="text"
  iconShow="fa-solid fa-magnifying-glass"
  iconHide="fa-solid fa-magnifying-glass"
  [(ngModel)]="searchTerm"
  name="search"
></atom-input>
<div *ngFor="let product of products | filter : searchTerm">
  <div class="mb-2">
    <atom-admin-product-item
      phoneImage="{{ product.phoneImage }}"
      phoneBrand="{{ product.phoneBrand }}"
      phoneModel="{{ product.phoneModel }}"
      price="{{ product.price }}"
    ></atom-admin-product-item>
  </div>
</div>
